{% extends "index.html" %}

{% block banner %}
<!-- Banner -->
<section id="banner">
  <div class="content">
    <span class="image object">
      <img src="/images/pic10.jpg" alt="" />
    </span>
</section>
{% endblock banner %}

{% block features %}
{% endblock features %}

{% block content %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>

  {{ page.content | safe }}
</div>
{% include "_includes/features.html" %}
{% endblock content %}

{% block article_links %}
{% endblock article_links %}